.chevron::before {
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  content: '';
  display: inline-block;
  height: 0.45em;
  left: 0.5em;
  position: relative;
  top: 0.5em;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  vertical-align: top;
  width: 0.45em; }

.chevron.right:before {
  left: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.chevron.bottom:before {
  top: 0;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg); }

.chevron.left:before {
  left: 0;
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg); }

.calendar {
  min-width: 249px;
  position: relative; }
  .calendar .days {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    border: 1px solid rgba(194, 186, 193, 0.34);
    width: 100%; }
    .calendar .days .day-group {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
      min-width: 112px; }
      .calendar .days .day-group .day-group-header {
        text-align: center;
        color: white;
        background-color: #7b829a;
        padding: 5px 10px;
        border-right: 1px solid rgba(194, 186, 193, 0.34);
        max-width: 100%;
        -o-text-overflow: ellipsis;
           text-overflow: ellipsis; }
        .calendar .days .day-group .day-group-header.only-small, .calendar .days .day-group .day-group-header.only-medium {
          display: none; }
      @media (max-width: 795px) {
        .calendar .days .day-group {
          min-width: auto; }
          .calendar .days .day-group .day-group-header {
            padding: 5px 5px; } }
      @media (min-width: 410px) and (max-width: 740px) {
        .calendar .days .day-group .day-group-header {
          display: none; }
        .calendar .days .day-group .day-group-header.only-medium {
          display: block; } }
      @media (max-width: 410px) {
        .calendar .days .day-group .day-group-header, .calendar .days .day-group .day-group-header.only-medium {
          display: none; }
        .calendar .days .day-group .day-group-header.only-small {
          display: block; } }
      .calendar .days .day-group:last-child .day-group-header {
        border-right: none; }
      .calendar .days .day-group .day {
        background-color: white;
        height: 57px;
        margin: 0;
        padding: 0;
        border: 1px solid rgba(194, 186, 193, 0.34);
        cursor: pointer; }
        .calendar .days .day-group .day .day-number {
          pointer-events: none;
          display: inline-block;
          width: 23px;
          height: 17px;
          background-color: white;
          padding-left: 5px;
          padding-top: 5px;
          font-size: 11px; }
        .calendar .days .day-group .day.day-empty {
          cursor: not-allowed;
          background-color: #e6e6e6; }
        .calendar .days .day-group .day.day-full {
          cursor: not-allowed;
          background-color: #ffad00; }
        .calendar .days .day-group .day.day-medium {
          background-color: #dcd018; }
  .calendar .month-year-selector {
    margin-top: 15px;
    text-align: center; }
    .calendar .month-year-selector .cur-month {
      display: inline-block;
      background-color: #7b829a;
      padding: 10px;
      color: #e6e6e6; }
      .calendar .month-year-selector .cur-month span.month {
        text-transform: uppercase;
        font-weight: bold; }
    .calendar .month-year-selector a {
      color: #e6e6e6;
      font-size: 22px;
      vertical-align: middle; }
  .calendar .hourly-overlay {
    position: absolute;
    top: 100%;
    right: -1px;
    left: -1px;
    bottom: 53px;
    background-color: #e6e6e6;
    opacity: 0;
    -webkit-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    transition: all 600ms ease-in-out; }
    .calendar .hourly-overlay.open {
      top: 0;
      opacity: 1; }
    .calendar .hourly-overlay .hourly-overlay-title {
      color: white; }
      .calendar .hourly-overlay .hourly-overlay-title p {
        font-size: 18px;
        margin: 0;
        padding: 5px 10px;
        text-align: center;
        background-color: #7b829a; }
      .calendar .hourly-overlay .hourly-overlay-title a {
        color: white;
        position: absolute;
        left: 5px;
        top: 5px;
        text-decoration: none; }
    .calendar .hourly-overlay .hourly-view {
      height: 100%; }
      @media (max-width: 580px) {
        .calendar .hourly-overlay .hourly-view .hour-group-12 {
          display: none !important; }
        .calendar .hourly-overlay .hourly-view .hour-group-6 {
          display: -webkit-box !important;
          display: -ms-flexbox !important;
          display: flex !important; } }
      .calendar .hourly-overlay .hourly-view .hour-group-12,
      .calendar .hourly-overlay .hourly-view .hour-group-6 {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid black; }
        .calendar .hourly-overlay .hourly-view .hour-group-12 .hour,
        .calendar .hourly-overlay .hourly-view .hour-group-6 .hour {
          position: relative;
          display: inline-block;
          margin: 0;
          padding: 0;
          width: 100%;
          height: 50px;
          background-color: white;
          border: 1px solid black;
          border-top: none;
          border-bottom: none; }
          .calendar .hourly-overlay .hourly-view .hour-group-12 .hour:not(:first-child),
          .calendar .hourly-overlay .hourly-view .hour-group-6 .hour:not(:first-child) {
            border-left: none; }
          .calendar .hourly-overlay .hourly-view .hour-group-12 .hour p,
          .calendar .hourly-overlay .hourly-view .hour-group-6 .hour p {
            position: absolute;
            padding: 0;
            margin: 0;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%); }
          .calendar .hourly-overlay .hourly-view .hour-group-12 .hour.full,
          .calendar .hourly-overlay .hourly-view .hour-group-6 .hour.full {
            background-color: red; }
      .calendar .hourly-overlay .hourly-view .hour-group-6 {
        display: none; }
      .calendar .hourly-overlay .hourly-view .hour-inputs {
        position: relative;
        display: block;
        height: 50%; }
        .calendar .hourly-overlay .hourly-view .hour-inputs .hour-inputs-inside {
          text-align: center;
          position: absolute;
          left: 50%;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%); }
          .calendar .hourly-overlay .hourly-view .hour-inputs .hour-inputs-inside input {
            height: 35px;
            width: 60px;
            margin: 0;
            border: 0;
            padding: 0 10px;
            margin-bottom: 15px; }