$emptyDayColor: #e6e6e6;
$normalDay: white;
$mediumDay: #dcd018;
$fullDay: #ffad00;

//$borderColor: #c2bac1; //c2bac130
$borderColor: rgba(194, 186, 193, 0.34);

$dayHeaderColor: #7b829a;

$monthSelectorBGColor: #7b829a;
$monthSelectorButtonsColor: #e6e6e6;
$monthSelectorMonthColor: #e6e6e6;
